html,
body {
    height: 100%;
    /* font-family: theDood; */
}

canvas[resize] {
    width: 100%;
    height: calc(100% - 65px);
}

#toolbar {
    position: absolute;
    top: 70px;
    left: calc(100vw - 120px);
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
}

#toolbarheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #007bff;
    color: #ffffff;
}

.color-selector {
    height: 30px;
    width: 30px;
    /* border: 2px; */
    /* border-color: #f1f1f1; */
    /* border-style: solid; */
}

#source-text {
    position: absolute;
    bottom: 3px;
    right: 8px;
    color: #888888
}

.grabby {
    cursor: grab;
}

.grabby:active {
    cursor: grabbing;
}

/* @font-face {
    font-family: 'theDood';
    src: url('../static/fonts/theDood-Regular.eot');
    src: url('../static/fonts/theDood-Regular.eot?#iefix') format('embedded-opentype'),
        url('../static/fonts/theDood-Regular.woff') format('woff'),
        url('../static/fonts/theDood-Regular.woff2') format('woff2'),
        url('../static/fonts/theDood-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */